// 个人及公司注册页面
.register-form {
    margin: 0 auto;
    padding: 1px 0;
    width: $form-width;
}

.upload-group {
    .form-tips {
        top: 10px;
        bottom: auto;
        left: 225px;
        display: block;
    }
}

.upload-img-area {
    display: none;
    margin-top: 10px;
    width: 200px;
    height: 100px;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.agree-popup {
    .popup-header {
        border: 0;
    }

    .popup-title {
        text-align: center;
    }
}