.tab-nav {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    @extend .clearfix;
    border-bottom: 1px solid #ccc;

    li {
        display: inline-block;
        margin-bottom: -1px;
        cursor: pointer;

        &.active {
            a {
                background-color: #fff;
                border-bottom-color: #fff;
            }
        }

        a {
            display: block;
            padding: 10px 20px;
            border: 1px solid #ccc;
            background-color: #e9e9e9;
        }
    }
}

.tab-panel {
    display: none;
}