// 页面整体宽度
$wrapper-width: 1050px;

// 基础颜色
$base-blue: #006cb7;
$base-blue-light: lighten($base-blue, 10%);
$base-font-color: #666;

// 表单及按钮（包含边框）
$form-width: 700px;
$field-height: 40px;
$field-border-color: #e4e4e4;
